titleBgColor = #ededed;
borderColor = #dedede;
tipColor = #8c8c8c;
bottomColor = #f7f7f7;
submitColor = #07c160;
myMessageColor = #b2e281;
noSubmitColor = #e1e1e1;
agreementColor = #586b95;

timeColor = #b2b2b2

widthHeight(wh=90px,ht= 90px) {
        width: wh
        height: ht
    }

flexCenter() {
        display: flex
        justify-content: center
        align-items: center
    }
  flexSB() {

        display: flex
        justify-content: space-between
        align-items: center
  }
